@charset "urf-8";

#div1{background-color: goldenrod;width: 300px;height: 300px;border: 15px solid navy;margin: 20px;}
#div2{width: 100px;height: 100px;background-color: red;margin: auto;}
#div3{width: 200px;height: 200px;background-color: green;}
#div3 div{width: 50px;height: 50px;background-color: gold;margin: 0 auto;}
#span{background-color: gold; width: 200px;margin: auto;display: block;text-align: right;}
#div4{border: 5px solid #000;width: 300px;height: 200px;}
#div4 div{width: 90px;height: 100px;background-color: red;display: inline-block;}