@charset "utf-8";

#div1{width: 100px;height: 100px;background-color: gray;color: wheat;
font-size: 20px;
/* 글자 그림자 (작성 순서 : 오른쪽 아래 번짐정도 색상 순으로 작성) */
text-shadow: 5px 5px 10px black;
/* 전체 박스 그림자 */
box-shadow: 5px 5px 10px red;
}
/* 마우스로 클릭할 때 색상 바꾸기 */
#div1:active{color: blue;}

img{width: 100px;height: 100px;}
/* 이미지 hover 시 박스 그림자 생성 */
img:hover{box-shadow: 0 0 10px black;}

/* 아이디 -> #아이디 / 클래스 -> .클래스 */
#login{width: 360px;height: 230px;box-shadow: 0 0 8px lightgray;border-radius: 10px;}
#login > .title{
    width: 220px;
    font-size: 25px;
    color: darkblue;
    /* background-color: bisque; */
    border-bottom: 3px dotted olive;
    padding: 10px 0;
    /* 전체 영역 가운데 정렬 */
    margin: auto;
    /* 글자 가운데 정렬 */
    text-align: center;
    /* 글자 사이 간격 */
    letter-spacing: 5px;
}

#login > form{
    /* background-color: aquamarine; */
    width: 270px;margin: auto;
}
#login > form input{
    color: gray;font-size: 20px;margin-top: 30px;border: none;border-bottom:2px solid lightgray;letter-spacing: 3px;width: 100%;
    /* 기본 속성으로 input 박스에 마우스 클릭 시 나오는 전체 테두리 없애기 */
    outline: none;
    /* input 박스 마우스 클릭 시 효과주기 -> focus */
    &:focus{border-bottom: 2px solid darkgray;}
}
#login > form > button{margin-top: 20px;width: 100%;height: 30px;border: none;border-radius: 5px;font-size: 15px;box-shadow: 0 0 2px black;
    /* 글자 굵기 */
    font-weight: bold;
    /* 마우스 커서 손가락 모양으로 만들기 */
    cursor: pointer;
    &:hover{background-color: gray;}
}